body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
}

.begin-button {
    width: 10vw;
    height: 8vh;
    background-color: burlywood;
    font-size: large;
    color: black;
    border-radius: 5px;
    border-style: dashed;
    border-color: black;
}